
  .content {
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid gray;
    width: 900px;
    
  }
  .Name{

  }
  .content img {
    width: 300px;
    height: 300px;
  }
  .pricePlace {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100px;
  }
  .pricePlace button {
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin-top: 10px;
  }
  .counter{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Card{
    width: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  
  