body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(176, 175, 175);
}
.headPart {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.headPart p {
  font-size: 25px;
  font-weight: bold;
  height: 30px;
}
.headPart button {
  background: none;
  border: none;
  padding: 0;
  margin-top: 20px;
  text-decoration: underline;
  color: red;
  cursor: pointer;
  height: 30px;
}
.Container {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  padding: 30px 30px 30px 30px;
  border-radius: 20px;
  background: white;
  justify-content: space-between;
}
